<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="css/normalize.css" type="text/css">
        <link rel="stylesheet" href="css/sakura.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <title>Movie Finder</title>
    </head>
<body>
    <header class="pure-menu pure-menu-horizontal navbar">
        <ul class="pure-menu-list header">
            <a href="/" class="pure-menu-heading logo pure-menu-link">🎞️Movie Finder</a>
            <li class="pure-menu-item">
            </li>
            <li class="pure-menu-item">
                <div class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list navigation-links">
                        <li class="pure-menu-item">
                            <a href="/login/signup" class="pure-menu-link">Sign Up</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/login" class="pure-menu-link">Login</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/" class="pure-menu-link">Search</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="/saved" class="pure-menu-link">Collection</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>
    <main class="movie-page-container">
        <div class="movie-page-grid-container">
            <div class="main-movie-info">
                {{#movieData}}
                <h1 class="title">{{movieData.Title}}</h1>
                <h3>{{movieData.Directors}} ∙ {{movieData.Year}}</h3>
                {{/movieData}}
            </div>
            <div class="star-rating">
                <h4 class="no-top-margin">Average User Rating</h4>
                {{#userStarRating}}
                    {{#.}}<span class="fa fa-star checked"></span>{{/.}}{{^.}}<span class="fa fa-star"></span>{{/.}}
                {{/userStarRating}}
                {{^userStarRating}}
                    <span class="far fa-star blocked"></span>
                    <span class="far fa-star blocked"></span>
                    <span class="far fa-star blocked"></span>
                    <span class="far fa-star blocked"></span>
                    <span class="far fa-star blocked"></span>
                {{/userStarRating}}
                <p>{{#avgRating}}{{avgRating}} / 5 ({{numReviews}}){{/avgRating}}{{^avgRating}}no reviews{{/avgRating}}</p>
                {{#movieData}}
                    <p><a href="/reviews/{{_id}}/add-review">Rate this movie</a></p>
                {{/movieData}}
            </div>
        </div>
        <div class="button-container">
            {{#movieData}}
            <form action="/saved/favorites/{{_id}}" method="post">
                <input class="hidden-input" type="radio" name="favorites" checked>
                <button data-movieid="{{_id}}" id="favorites" class="pure-button margin-right pure-button-primary rounded"><i class="fas fa-heart"></i> Favorites</button>
            </form>
            <form action="/saved/watchlist/{{_id}}" method="post">
                <input class="hidden-input" type="radio" name="watchlist" checked>
                <button data-movieid="{{_id}}" id="watchList" class="pure-button pure-button-primary rounded"><i class="fas fa-plus"></i> Watchlist</button>
            </form>
            {{/movieData}}
        </div>
        <hr/>
        <section class="table">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>IMdb Score</th>
                        <th>Rotten Tomatoes</th>
                        <th>Age Range</th>
                        <th>Runtime</th>
                    </tr>
                </thead>
                <tbody>
                    {{#movieData}}
                    <tr>
                        <td class="stats">{{#IMDb}}{{IMDb}}{{/IMDb}}{{^IMDb}}-{{/IMDb}}</td>
                        <td class="stats">{{#RottenTomatoes}}{{RottenTomatoes}}{{/RottenTomatoes}}{{^RottenTomatoes}}-{{/RottenTomatoes}}</td>
                        <td class="stats">{{#Age}}{{Age}}{{/Age}}{{^Age}}-{{/Age}}</td>
                        <td class="stats">{{#Runtime}}{{Runtime}}{{/Runtime}}{{^Runtime}}-{{/Runtime}}</td>
                    </tr>
                    {{/movieData}}
                </tbody>
            </table>
        </section>
        <section class="table">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>Hulu</th>
                        <th>Netflix</th>
                        <th>Prime Video</th>
                        <th>Disney+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#movieData}}
                        <td class="stats">
                            {{#Hulu}}<p class="availability">Available</p>{{/Hulu}}
                            {{^Hulu}}<p class="availability">Not Available</p>{{/Hulu}}
                            {{#Hulu}}<p class="available-icon"><i class="fas fa-check available-true"></i></p>{{/Hulu}}
                            {{^Hulu}}<p class="available-icon"><i class="fas fa-times available-false"></i></p>{{/Hulu}}
                        </td>
                        <td class="stats">
                            {{#Netflix}}<p class="availability">Available</p>{{/Netflix}}
                            {{^Netflix}}<p class="availability">Not Available</p>{{/Netflix}}
                            {{#Netflix}}<p class="available-icon"><i class="fas fa-check available-true"></i></p>{{/Netflix}}
                            {{^Netflix}}<p class="available-icon"><i class="fas fa-times available-false"></i></p>{{/Netflix}}
                        </td>
                        <td class="stats">
                            {{#PrimeVideo}}<p class="availability">Available</p>{{/PrimeVideo}}
                            {{^PrimeVideo}}<p class="availability">Not Available</p>{{/PrimeVideo}}
                            {{#PrimeVideo}}<p class="available-icon"><i class="fas fa-check available-true"></i></p>{{/PrimeVideo}}
                            {{^PrimeVideo}}<p class="available-icon"><i class="fas fa-times available-false"></i></p>{{/PrimeVideo}}
                        </td>
                        <td class="stats">
                            {{#DisneyPlus}}<p class="availability">Available</p>{{/DisneyPlus}}
                            {{^DisneyPlus}}<p class="availability">Not Available</p>{{/DisneyPlus}}
                            {{#DisneyPlus}}<p class="available-icon"><i class="fas fa-check available-true"></i></p>{{/DisneyPlus}}
                            {{^DisneyPlus}}<p class="available-icon"><i class="fas fa-times available-false"></i></p>{{/DisneyPlus}}
                        </td>
                        {{/movieData}}
                    </tr>
                </tbody>
            </table>
        </section>
        <hr/>
        <section>
            <h2>User Reviews {{#numReviews}}({{ numReviews }}){{/numReviews}}{{^numReviews}}(0){{/numReviews}}</h2>
            <div class="review">
                {{#firstReview}}
                <div class="review-rating">
                    {{#firstReviewStarRating}}
                        {{#.}}<span class="fa fa-star checked"></span>{{/.}}{{^.}}<span class="fa fa-star"></span>{{/.}}
                    {{/firstReviewStarRating}}
                    {{rating}} / 5
                    <p class="review-subtitle">{{createdAt}} ∙ {{userId.firstName}} {{userId.lastName}}</p>
                </div>
                <p>{{review}}</p>
                {{/firstReview}}
                {{^firstReview}}
                <div class="review-rating">
                    No Reviews
                </div>
                {{/firstReview}}
            </div>
            {{#movieData}}
                {{#firstReview}}
                    {{#movieData}}
                        <p><a href="/reviews/{{_id}}">View all reviews</a> | <a href="/reviews/{{_id}}/add-review">Rate this movie</a></p>
                    {{/movieData}}
                {{/firstReview}}
                {{^firstReview}}
                    {{#movieData}}
                        <p><a href="/reviews/{{_id}}/add-review">Rate this movie</a></p>
                    {{/movieData}}
                {{/firstReview}}
            {{/movieData}}

        </section>
    </main>
</body>
</html>
